<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css" ></link>
    <link rel="stylesheet" href="global.css" ></link>
    <title>Home</title>
</head>
<body>
    <center>

        <form method="post" action="/">
            <input type="text" name="school" placeholder="Enter School Name..." required>

            <br>

            <input type="text" name="name1" placeholder="Enter Participant 1 Name..." required>

            <br>

            <input type="text" placeholder="Enter Participant 2 Name..." name="name2">

            <br>

            <input type="password" placeholder="Enter Password..." name="pass" required autocomplete="off">

            <br>

            <input type="submit" value="Login">
        </form>
    </center>
</body>
</html>