<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ques.css"></link>
    <link rel="stylesheet" href="/global.css"></link>
    <title>Questions</title>

    <style>
        
        body{
    background-color: #181818;
}

.split{
    display: flex;
    width: 99vw;
    justify-content: space-between;
    overflow: hidden;
}

.left{
    width: 50%;
    height: 97vh;
}

.left iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.right{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    outline: none;
    border: 3px solid orangered;
    width: 78%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1vw;
    background-color: lightgray;
}

input[type=submit]{
    width: 80%;
    color: white;
    background-color: orangered;
    font-weight: bold;
    cursor: pointer;
}

#link{
    color: #FF6006;
    text-decoration: underline;
}


/* Snackbar */
#snackbar{
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 5%;
    margin: auto;
    width: fit-content;
    min-width: 30vw;
    background-color: #FF6006;
    padding: 15px;
    text-align: center;
    box-shadow: 1px 1px 10px gray;
    z-index: 1;
    font-size: 1.35vw;
    font-family: montserrat;
}
#snackbar.visible{
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
    from{bottom: 0%; opacity: 0;}
    to {bottom: 5%; opacity: 1;}
}
@keyframes fadeout {
    from {bottom: 5%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
    </style>

</head>
<body>
    <div class="split">
        <div class="left">
            <!-- load pdf in iframe -->
            <iframe src="<%= path %>#toolbar=0" contextmenu="false" type="application/pdf"></iframe>
        </div>

        <div class="right">
            <div style="text-align: center;">
                <form action="/ques/<%= id %>" method="post">
                    <input type="file" name="file" placeholder="Choose File" required>
                    <br/><br/>
                    <input type="submit" value="Submit">
                </form>

                <br /><br/>
                <a href="/questions" id="link">See all Questions</a>
            </div>
        </div>
    </div>

    <% if (msg.length !== 0) {%>
        <div id='snackbar'>
            Verdict: <%= msg %>
        </div>
        <script>
            var x = document.getElementById('snackbar');
            x.className = 'visible';
            setTimeout(function(){
                x.className = x.className.replace('visible', '')
            }, 3000)
        </script>
    <% } %>
</body>
</html>